* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: 300;
  line-height: 1.4;
  word-break: break-word;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1.8rem;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
}
#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.book-reader,
.sidebar-reader {
  height: 100vh;
  width: 100%;
  position: relative;
}

.book-reader .reader {
  inset: 50px 0 32px;
}

.book-reader .reader .epub-container {
  overflow-x: hidden !important;
}

.book-reader .arrow {
  display: none;
}

.import {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.import .import-button {
  margin: 5px auto 0;
}


