.vscode/**
src/**
renderer/**
.github/**
.gitignore

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
pnpm-workspace.yaml
pnpm-lock.yaml
.prettierignore

# Keep the built webview and extension icons.
!renderer/dist/**
!renderer/public/logo.png
!renderer/public/icon.svg
